<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>post details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="page-title">MindShare</h1>
    <div class="singlepost">
        <a href="/posts" class="back-btn">← Back to Home</a>
      <h2 class="post-heading">Post Details</h2>

      <div class="post-meta">
        <span><strong>@<%= post.username %></strong></span>
        <span><strong>ID:</strong> <%= post.id %></span>
        <span><strong>Created at:</strong> <%= post.created_at %></span>
      </div>

      <h3 class="post-title"><%= post.title %></h3>

      <p class="post-content"><%= post.content %></p>

      <form action="/posts/<%= post.id %>/edit" method="get">
        <button class="edit-btn">Edit Post</button>
      </form>
    </div>
  </body>
</html>
